<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Parcelamentos</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <button ion-button (click)="novoParcelamento()" color="secondary">
          <ion-icon name="add"></ion-icon>
          <ion-label>&nbsp;Novo parcelamento</ion-label>
      </button>
      <br/><br/>
      <ion-item>
        <ion-label>Período:</ion-label>
        <ion-datetime  min="{{dateRange.min}}" max="{{dateRange.max}}" displayFormat="MMM YYYY" [(ngModel)]="periodo" (ionChange)="refresh()"></ion-datetime>
      </ion-item>
      <ion-list>
        <button color="light" ion-item *ngFor="let parcelamento of parcelamentos" (click)="editaParcelamento(parcelamento)">
          <ion-icon name="{{ (parcelamento.valorTotal < 0 ? 'remove-circle' : 'add-circle')}}"
          color="{{ (parcelamento.valorTotal < 0 ? 'danger' : 'secondary')}}" style="font-size: 15px;"></ion-icon>
          {{ parcelamento.descricao }}<br/> 
          Total: R$ 
          <span *ngIf="parcelamento.valorTotal<0" style="color: red">
            {{(parcelamento.valorTotal*-1).toFixed(2).replace('.',',') }}
          </span>
          <span *ngIf="parcelamento.valorTotal>=0" style="color: green">
            {{parcelamento.valorTotal.toFixed(2).replace('.',',') }}
          </span>
           - 
          Parcelas: {{parcelamento.numParcelas}}
        </button>  
      </ion-list>
  </ion-content>
